body {
  font-family: Helvetica;
  font-size: 12px;
}
table {
  border: 2px solid black;
  margin-bottom: 2px;
  background-color: #99FF99;
  width: 400px;
}

th {
  float: left;
  background-color: #4CAF50;
  color: black;
  
}

td {
  margin: 2px;
}

