body {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  color: white;
  font-size: 12px;
  background-color: black;
}
table {

  margin-bottom: 2px;
  background-color: black;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

th {
  float: left;
  font-size:14px;
  color: #80b3ff;

}

td {
  margin: 2px;
}

.artist{
  float:right;
}

/*audio {
  margin-left: auto;
  margin-right:auto;
}*/